<div class="flex w-full h-full py-10">
  <img class="rounded-xl border-slate-200 border-2" src="https://www.github.com/joaodemari.png" />
  <div class="grid m-10 grid-rows-3 w-full">
    <span class="text-xl font-bold">{{ nome_aluno }}</span>
    <span class="text-md">{{ faculdade }}</span>
  </div>
  <div class="flex flex-col-reverse text-center w-1/2 p-2">
    <div class="bg-slate-100 p-2 flex flex-col text-sm rounded-lg border-slate-300 border">
      <span> Você está matriculado em </span>
      <span class="font-semibold"> {{ creditos }} créditos </span>
    </div>
  </div>
</div>
